# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Using WildFly Preview In CI

on:
  pull_request:
    branches:
      - main
    types: [ opened, synchronize, reopened, ready_for_review ]
  push:
    branches: [ main ]

jobs:
  wildfly-build:
    uses: wildfly/wildfly/.github/workflows/shared-wildfly-build.yml@main
    with:
      wildfly-branch: "main"
      wildfly-repo: "wildfly/wildfly"
  build-test-matrix:
    name: ${{ matrix.jdk-distribution }}-${{ matrix.jdk-version }}-${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    needs: wildfly-build
    timeout-minutes: 20
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest ]
        jdk-distribution: [ temurin ]
        jdk-version: [ '17' ]
    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          name: wildfly-maven-repository
          path: .
      - name: Extract WildFly Maven Repo
        shell: bash
        run: |
          ls
          tar xvzf wildfly-maven-repository.tar.gz -C ~
          pwd
          find .
      - name: Set up JDK ${{ matrix.jdk-distribution }} ${{ matrix.jdk-version }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.jdk-version }}
          distribution: ${{ matrix.jdk-distribution }}
#          cache: 'maven'
      - name: Build With Provisioned WildFly
        run: |
          WILDFLY_VER=${{needs.wildfly-build.outputs.wildfly-version}} ./run-with-wildfly-preview.sh